div {    /* Делаем выборку всех тегов div */
    font-size: 20px; /* и устанавливаем им размер 20px */
}

span { /* Для всех тегов span */
    color: mediumvioletred; /* устанавливаем цвет*/
}

.text { /* Обращаемся к классу, для работы с ним, по имени */
    color: red; /* и устанавливаем цвет */
}

[custom_data=""] {
    color: blue;
}
/* Чем ниже стили, тем выше приоритет. Можно повысить приоритет значением !important */
span.text { /* Запись в таком формате повысит приоритет, вне зависимости от высоты расположения */
    color: green;
}

#text_span { /* Обращаемся к id по значению */
    color: yellow;
}

.block>p { /* Обращаемся к дочерним параграфам p в классе block */
    font-size: 10px;
}

.block p { /* Обращаемся ко всем параграфам p в классе block */
    font-size: 30px;
}